.post-answer {
  width: 90px;
  height: 30px;
  color: white;
  background-color: blue;
  border-radius: 50px;
  text-align: center;
  padding-top: 3px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-top: 20px;
}


.post-answer,
.draft-answer:hover {
  cursor: pointer;
}

.draft-answer {
  width: 90px;
  height: 30px;
  color: rgb(71, 70, 70);
  background-color: rgb(188, 188, 194);
  border-radius: 50px;
  text-align: center;
  padding-top: 3px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-top: 20px;
}
.button-edit {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}

.edit-author-credentials {
  display: grid;
  grid-template-columns: 15% 85%;
  height: 70px;
  background-color: #f7f7f8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.edit-author-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}
.edit-author-image img {
  width: 100%;
  height: 100%;
}
.edit-author-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
